body {
	background-color: #fffff0;
	color: #000000;
	zoom: 100%;
	margin: 0;
	font-size: 1rem;
}

html {
	font-size: 120%;
	font-family:
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif;
}

/* Full‑bleed strip */
.full-bleed {
	width: 100%;
	height: auto;
	display: block;
}

/* Normal page content */
.content {
	margin: 3em;
}

img.fullpage {
	clear: both;
	text-align: center;
	width: 100%;
	max-height: 95vh;
	object-fit: contain;
}

.toc_list {
	list-style: none;
}

.line-height {
	height: 0;
}


body {
	font-size: 1rem;

	/* also 16px */
}

.responsive {
	min-width: 5em;
	width: 30vw;
	max-width: 15em;
}

/* Mobile-friendly stacking */
@media (max-width: 600px) {
	.triple {
		flex-direction: column;
		text-align: center;
	}

	.side-img {
		width: 20em;
		/* slightly larger on mobile if desired */
	}

	.move_text_left {
		float: left;
	}
}

else {
	.move_text_left {
		float: right;

	}
}

.float-img {
	float: left;
	width: 200px;
	margin: 0 1em 1em 0;
	/* this creates the spacing you’re missing */
}

.float-text {
	overflow: hidden;
	/* prevents text from sliding under the float */
}

/* Mobile: stack vertically */
@media (max-width: 600px) {
	.float-img {
		float: none;
		display: block;
		margin: 0 auto 1em auto;
	}

	.float-text {
		overflow: visible;
	}
}

.quin {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
		"left text1 right"
		"left text2 right"
		"left text3 right"
		"left text4 right"
		"left text5 right";
	column-gap: 1em;
	/* row-gap: 1em; */
	align-items: start;
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

.text-1 {
	grid-area: text1;
}

.text-2 {
	grid-area: text2;
}

.text-3 {
	grid-area: text3;
}

.text-4 {
	grid-area: text4;
}

.text-5 {
	grid-area: text5;
}

.side {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 20vw;
}

.side img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

@media (max-width: 1800px) {
	.quin {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			"left text1 right"
			"left text2 right"
			"left text3 right"
			"left text4 right"
			"text5 text5 text5";
	}
}


@media (max-width: 1600px) {
	.quin {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			"left text1 right"
			"left text2 right"
			"left text3 right"
			"text4 text4 text4"
			"text5 text5 text5";
	}
}

@media (max-width: 1200px) {
	.quin {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			"left text1 right"
			"left text2 right"
			"text3 text3 text3"
			"text4 text4 text4"
			"text5 text5 text5";
	}
}

@media (max-width: 900px) {
	.quin {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			"left text1 right"
			"text2 text2 text2"
			"text3 text3 text3"
			"text4 text4 text4"
			"text5 text5 text5";
	}
}

@media (max-width: 750px) {
	.quin {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"left right"
			"text1 text1"
			"text2 text2"
			"text3 text3"
			"text4 text4"
			"text5 text5";

		/* 		row-gap: 1em; */
		.left,
		.right {
			justify-self: center;
		}

		.side {
			max-width: 40vw;
		}

		.text-1,
		.text-2,
		.text-3,
		.text-4,
		.text-5 {
			text-align: left;
		}
	}
}